<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Kumiageru</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
    <div class="pure-g-r" id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
            <span></span>
        </a>
        <div class="pure-u" id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="/">Kumiageru.it</a>

                <ul>
                    <% if (!logged) { %>
                    <li>
                      <a href="/auth/twitter"><i class="icon-twitter icon-large"></i> Sign in</a>
                  </li>
                  <% } else { %>
                  <li>
                    <a>
                        <img class="avatar" src="<%= user.avatar %>" />
                        <%= user.username %></a>
                    </li>
                    <li>
                        <a href="/logout"><i class="icon-signout icon-large"></i> Logout</a>
                    </li>
                    <li class="menu-item-divided<% if(active == 'start') { %> pure-menu-selected<% } %>">
                        <a href="/start"><i class="icon-bullhorn icon-large"></i> Start</a>
                    </li>
                    <li>
                        <a href="/join"><i class="icon-group icon-large"></i> Join</a>
                    </li>
                    <% } %>

                    <li class="menu-item-divided">
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="pure-u-1" id="main">
            <% if (messages.success) { %>
            <pre class="snippet flash pure-button-success"><p><%= messages.success %></p></pre>
            <% } %>
            <% if (messages.info) { %>
            <pre class="snippet flash pure-button-secondary"><p><%= messages.info %></p></pre>
            <% } %>
            <% if (messages.fail) { %>
            <pre class="snippet flash pure-button-error"><p><%= messages.fail %></p></pre>
            <% } %>
            <div class="wrap">
                <%-body %>
                <div class="bumper"></div>
            </div>


            <div class="legal pure-g-r">
                <div class="pure-u-2-5">
                    <div class="l-box">
                        <p class="legal-license">
                            This site is built with &lt;3 using Pure v0.3.0<br>
                            All code on this site is licensed under the <a href="http://yuilibrary.com/license/">BSD License</a> unless stated otherwise.
                        </p>
                    </div>
                </div>

                <div class="pure-u-1-5">
                    <div class="l-box legal-logo">
                        <a href="http://yuilibrary.com/">
                            <img src="/images/tumblr_medxffmavV1rrsa2po1_1280.gif" height="30" width="65" alt="YUI logo">
                        </a>
                    </div>
                </div>

                <div class="pure-u-2-5">
                    <div class="l-box">
                        <ul class="legal-links">
                            <li><a href="http://github.com/royletron"><i class="icon-github"></i> GitHub Project</a></li>
                            <li><a href="http://twitter.com/royletron"><i class="icon-twitter"></i> royletron</a></li>
                        </ul>

                        <p class="legal-copyright">
                            © 2013 Whoever!
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
var menu = document.getElementById('menu'),
menuLink = document.getElementById('menuLink'),
layout = document.getElementById('layout'),

toggleClass = function (element, className) {
    var classes = element.className.split(/\s+/),
    length = classes.length,
    i = 0;

    for(; i < length; i++) {
      if (classes[i] === className) {
        classes.splice(i, 1);
        break;
    }
}
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    };

    menuLink.onclick = function (e) {
        e.preventDefault();
        var active = 'active';
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    };
    $(document).ready(function(){
      $('.flash').delay(7000).slideUp('slow');
  })
    </script>




</body></html>